@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fafafa;
    --black: #1e1e1e;
    --black-secundary: #313131;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
    margin: 0 auto;
}

header {
    padding: 16px 24px;
    background-color: var(--white);
    color: var(--black);
}

.header {
    max-width: 1200px;
    display: flex;
    margin: auto;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: space-around;
}

#menu a {
    margin-left: 24px;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    height: 30px;
    display: flex;
    align-items: center;
}

#menu a:hover {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.100);
    transform: translate(0px, -2px);
    transition: transform .24s;
}

#first {
    height: 92vh;
    display: flex;
    margin: auto;
    max-width: 1200px;
    /*ADICIONAR UM BG E OUTRO FOTO (NÃO PRECISA SER MINHA)*/
}

#action {
    width: 51%;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    color: var(--white);
}

#action h1 {
    margin-bottom: 24px;
    font-size: 3em;
}


#image {
    width: 50%;
    background: url(../image/me.jpg) no-repeat center center;
    background-size: cover;
}

#projects {
    height: 100%;
    background-color: var(--white);
    padding: 48px 0;
}

#projects > h1 { 
    text-align: center;
    font-size: 2.5em;
}

#projects > p {
    padding: 24px;
    text-align: center;
}

#container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    gap: 8px;
}

.case {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 12px 1px rgba(59, 59, 59, 0.232);
    padding: 20px;
    transition: transform .24s ;
    /*width: 384px;*/
}

.case:hover {
    transform: translate(-0px, -2px);
    transition: transform .24s ;
    transform: scale(1.01);
}

.case img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0cap 2px 10px 1px rgba(0, 0, 0, 0.173);
}

.case h2 {
    margin-top: 8px;
    font-size: 1.2em;
    font-style: italic;
}

.case p{
    margin: 8px 0;
}

.case a{
    padding: 8px 10px;
    background: var(--black);
    color: white;
    display: inline-block;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.case a:hover {
    background-color: #000000;
}

#profissional {
    color: var(--white);
    max-width: 1200px;
    margin: auto;
}

#profissional {
    height: 100%;
    padding: 48px 0;
}


#profissional > h1 { 
    text-align: center;
    font-size: 2.5em;
}

#profissional > p {
    text-align: center;
    padding: 24px;
}


table {
    border-collapse: collapse;
}

th, td {
    padding: 16px 14px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: var(--black);
    font-weight: bolder;
    font-size: 1.2em;
    font-style: italic;
}

tr {
    margin-bottom: 4px;
}

tr:nth-child(odd) {
    background-color: var(--black-secundary);
}

li {
    list-style-position: inside;
    line-height: 1.5em;
    vertical-align: top;
    position: relative;
    top: -5px;
}

li span {
    position: relative;
    left: -10px;
}

td.period {
    font-size: 0.9em;
}

td em {
    font-size: 16px;
}