@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fafafa;
    --black: #1e1e1e;
    --black-secundary: #313131;
    --black-low: #474747;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
    margin: 0 auto;
}

section {
    scroll-margin-top: 60px; /* Ajuste para a altura do seu header */
  }

/* CONFIGURAÇÕES DO MENU */

header {
    background-color: var(--white);
    box-shadow: 2px 0 4px 4px rgba(70, 70, 70, 0.201);
    color: var(--black);
    height: 65px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.header {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.space {
    height: 20px;
    flex: 1 0 auto;
    background-color: #00aaff;
}

.header > a {
    text-decoration: none;
    color: var(--black);
    flex: 1 0 auto;
    /* text-align: center */
}

#menu {
    display: flex;
    gap: 8px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#menu ul {
    height: 100%;
    list-style: none;
    display: flex;
}

#menu li {
    position: relative;
    top: 0px
}

#menu > ul > li > a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    padding: 8px;
}

#menu a:hover {
    border-bottom: 3px solid black;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.100);
    /* transform: translate(0px, -2px); */
    transition: transform .24s;
}

/* CONFIGURAÇÕES DO HERO */

#hero {
    width: 100%;
    height: 100vh;
    background: white url(../image/bg-first.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    /* box-shadow: 2px 2px 4px black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000af;
}

#hero-content {
    max-width: 1200px;
    margin: auto;
    color: var(--white);
    z-index: 2;
}

#hero-content h1 {
    margin-bottom: 24px;
    font-size: 4em;
    text-shadow: 2px 2px 2px rgba(58, 58, 58, 0.673);
}

.btn-download {
    color: var(--black);
    background-color: white;
    display: inline-block;
    width: 400px;
    padding: 24px;
    margin: auto;
    margin-top: 40px;
    border-radius: 44px;
    text-decoration: none;
    font-weight: 300;
    transition: transform .3s;
}
.btn-download::after {
    content: "download"; /* Nome do ícone */
    font-family: 'Material Symbols Outlined';
    font-size: 24px; /* Ajuste conforme necessário */
    vertical-align: sub;
    margin-left: 16px;
}

.btn-download:hover {
    /* background-color: var(--black-secundary); */
    /* box-shadow: 0px 4px 8px 1px rgba(255, 255, 255, 0.308); */
    /* color: var(--white); */
    transform: scale(1.02);
    transition: transform .3s;
    font-weight: bolder;
    font-weight: bolder;
}

.btn-projects {
    display: inline-block;
    margin-left: 24px;
    width: 400px;
    border: 4px solid white;
    color: white;
    text-decoration: none;
    padding: 24px;
    border-radius: 44px;
    transition: transform .3s;
}

.btn-projects:hover {
    background-color: rgba(255, 255, 255, 0.304);
    transform: scale(1.02);
    transition: transform .3s;
    font-weight: bolder;

}

/* CONFIGURAÇÕES DOS CASES */

#projects {
    height: 100%;
    width: 100%;
    padding: 48px 0;
}

#projects > h1 { 
    font-size: 2.5em;
    text-align: center;
    color: var(--white);
}

#projects > p {
    padding: 24px;
    text-align: center;
    color: var(--white);
}

#container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 8px;
}

.case {
    border-radius: 10px;
    background: var(--black-secundary);
    /* box-shadow: 0px 4px 12px 1px rgba(59, 59, 59, 0.232); */
    padding: 20px;
    transition: transform .24s ;
    flex: 0 1 390px;
    color: var(--white);
}

.case:hover {
    transform: translate(-0px, -2px);
    transition: transform .24s ;
    transform: scale(1.01);
}

.case img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0cap 2px 10px 1px rgba(0, 0, 0, 0.173);
}

.case h2 {
    margin-top: 8px;
    font-size: 1.2em;
    font-style: italic;
}

.case p{
    margin: 8px 0;
    height: 100%;
    width: 100%;
    flex: 1 0 auto;
}

.case a{
    padding: 14px 30px;
    color: white;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--white);
    border-radius: 30px;
    transition: background-color .4s;
    margin-top: 10px;
}

.case a:hover {
    background-color: var(--white);
    color: var(--black-secundary);
    /* font-weight: bold; */
    transition: background-color .4s;
}

/* CONFIGURAÇÕES DA TRAJETÓRIA PROFISSIONAL */

#terceiro {
    width: 100%;
    background: var(--white);
    text-align: center;
    /* padding-top: 65px; */
}

#profissional {
    color: var(--black);
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

#profissional {
    height: 100%;
    padding: 48px 0;
}


#profissional > h1 {
    font-size: 2.5em;
}

#profissional > p {
    padding: 24px;
}


table {
    border-collapse: collapse;
    /* box-shadow: 0px 1px 10px 1px rgba(171, 171, 171, 0.247); */
    color: var(--white);
}

th, td {
    padding: 16px 14px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: var(--black);
    font-weight: bolder;
    font-size: 1.2em;
    font-style: italic;
}

tr {
    margin-bottom: 4px;
}

tr:nth-child(odd) {
    background-color: var(--black-secundary);
}

tr:nth-child(even) {
    background-color: var(--black);
}

li {
    list-style-position: inside;
    line-height: 1.5em;
    vertical-align: top;
    position: relative;
    top: -5px;
}

li span {
    position: relative;
    left: -10px;
}

td.period {
    font-size: 0.9em;
}

td em {
    font-size: 16px;
}

/* CONFIGURAÇÕES DAS ESPECIALIDADES */

#quarto {
    /* background-color: var(--black-secundary); */
    /* height: 100vh; */
    color: var(--white);
    text-align: center;
    padding: 48px 0;
}

#expertize h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

#expertize {
    max-width: 1200px;
    margin: auto;
}

.badge {
    padding: 16px 32px;
    background-color: var(--black-secundary);
    display: inline-block;
    border-radius: 48px;
    color: var(--white);
    /* box-shadow: 0px 0px 14px 1px var(--black) inset; */
}

/* CONFIGURAÇÕES DO SOBRE MIM */

#quinto {
    width: 100%;
    color: var(--white);
    padding: 48px 0;
    margin: 40px 0;
}
.sobre {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-flow: 1 1 auto;
    gap: 40px;
}

.about-content {
    width: 600px;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

#about h1 {
    font-size: 2em;
    margin-bottom: 24px;
}

.me {
    width: 300px;
    height: 411px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 4px 1px 15px 4px rgba(0, 0, 0, 0.493);
}

.me img {
    height: 100%;
    width: 100%;
    
}

#skill h1 {
    margin-bottom: 16px;
}

.badge-skill {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.bola {
    display: block;
    width: 835px;
    height: 450px;
    background-image: linear-gradient(-45deg, var(--black), var(--black-low));
    position: absolute;
    right: 0px;
    z-index: -1;
    border-radius: 300px 0 0 300px;
}

#skill h1 {
    font-style: italic;
}

/* CONFIGURAÇÕES DO FOOTER */

footer {
    background-color: var(--white);
    color: var(--black);
    padding: 20px;
    text-align: center;
    box-shadow: 4px 0 40px 3px rgba(255, 255, 255, 0.21);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
}

.social-links a:hover {
    color: #00aaff; /* Altere para a cor de sua preferência */
}

.icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    max-width: 100%;
    max-height: 100%;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    color: white;
  }

  .icon:hover {
    transform: scale(1.08);
    transition: transform .3s;
  }