@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fafafa;
    --black: #1e1e1e;
    --black-secundary: #313131;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
    margin: 0 auto;
}

header {
    background-color: var(--white);
    box-shadow: 2px 0 4px 4px rgba(70, 70, 70, 0.201);
    color: var(--black);
    height: 65px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.header {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    display: flex;
    gap: 8px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#menu a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    padding: 8px;
}

#menu a:hover {
    border-bottom: 3px solid black;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.100);
    /* transform: translate(0px, -2px); */
    transition: transform .24s;
}

/* CONFIGURAÇÕES DA PRIMEIRA PARTE */

#primeiro {
    width: 100%;
    background: white url(../image/bg-first.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    box-shadow: 2px 2px 4px black;
}

#first {
    height: 100vh;
    display: flex;
    margin: auto;
    width: 100%;
    background-color: #00000091;
}

#action {
    margin: auto;
    color: var(--white);
}

#action h1 {
    margin-bottom: 24px;
    font-size: 4em;
    text-shadow: 2px 2px 2px rgba(58, 58, 58, 0.673);
}

.btn-download {
    color: var(--black);
    background-color: white;
    display: inline-block;
    width: 400px;
    padding: 24px;
    margin: auto;
    margin-top: 40px;
    border-radius: 44px;
    text-decoration: none;
    font-weight: bolder;
}

.btn-download:hover {
    background-color: var(--black-secundary);
    box-shadow: 0px 4px 8px 1px rgba(255, 255, 255, 0.308);
    color: var(--white);
    transform: translate(0px, -4px),;
    transition: background-color .3s;
}

.btn-projects {
    display: inline-block;
    margin-left: 24px;
    width: 400px;
    border: 4px solid white;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 24px;
    border-radius: 44px;
}

.btn-projects:hover {
    background-color: white;
    color: var(--black);
    transition: background-color .3s;
    transform: translate(-2px -2px);

}

/* #image {
    width: 50%;
    background: url(../image/me.jpg) no-repeat center center;
    background-size: cover;
} */

/* SEÇÃO DOS CASES */

#projects {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    padding: 48px 0;
    
}

#projects > h1 { 
    font-size: 2.5em;
    text-align: center;
}

#projects > p {
    padding: 24px;
    text-align: center;
}

#container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 8px;
}

.case {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 12px 1px rgba(59, 59, 59, 0.232);
    padding: 20px;
    transition: transform .24s ;
    flex: 0 1 390px;
}

.case:hover {
    transform: translate(-0px, -2px);
    transition: transform .24s ;
    transform: scale(1.01);
}

.case img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0cap 2px 10px 1px rgba(0, 0, 0, 0.173);
}

.case h2 {
    margin-top: 8px;
    font-size: 1.2em;
    font-style: italic;
}

.case p{
    margin: 8px 0;
    height: 100%;
    width: 100%;
    flex: 1 0 auto;
}

.case a{
    border: 1px dotted black;
    padding: 8px 10px;
    background: var(--black);
    color: white;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.case a:hover {
    background-color: #000000;
}

/* SEÇÃO PROFISSIONAL */

#terceiro {
    width: 100%;
    background-image: linear-gradient(0deg, var(--black-secundary), var(--white));
    text-align: center;
}

#profissional {
    color: var(--white);
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

#profissional {
    height: 100%;
    padding: 48px 0;
}


#profissional > h1 { 
    color: var(--black);
    font-size: 2.5em;
}

#profissional > p {
    color: var(--black);
    padding: 24px;
}


table {
    border-collapse: collapse;
    box-shadow: 0px 1px 10px 1px rgba(171, 171, 171, 0.247);
}

th, td {
    padding: 16px 14px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: var(--black);
    font-weight: bolder;
    font-size: 1.2em;
    font-style: italic;
}

tr {
    margin-bottom: 4px;
}

tr:nth-child(odd) {
    background-color: var(--black-secundary);
}

tr:nth-child(even) {
    background-color: var(--black);
}

li {
    list-style-position: inside;
    line-height: 1.5em;
    vertical-align: top;
    position: relative;
    top: -5px;
}

li span {
    position: relative;
    left: -10px;
}

td.period {
    font-size: 0.9em;
}

td em {
    font-size: 16px;
}

/* SEÇÃO DAS FORMAÇÕES ACADEMICAS */

#educational {
    background-color: var(--black-secundary);
    height: 100vh;
    color: var(--white);
    text-align: center;
    padding: 48px 0;
}

#educational h1 {
    font-size: 2.5em;

}